<?xml version="1.0"?>
    <robot name="item15">
    <link name="base_link">
        <visual>
        <origin xyz="0 0 0"/>
        <geometry>
            <mesh filename="/home/koya/honda/3Dmodels/item15/item15.obj" scale="0.001 0.001 0.001"/>
        </geometry>
        <material>
            <color rgba="1 1 1 1"/>
        </material>
        </visual>
        <collision>
        <origin xyz="0 0 0"/>
        <geometry>
            <mesh filename="/home/koya/honda/3Dmodels/item15/item15.obj" scale="0.001 0.001 0.001"/>
        </geometry>
        </collision>
    </link>
    </robot>
    